.animate-all, .panel .panel-body .btn-share, .open-detail-panel, .btn, .search-wrapper .search-cat .nav-tabs li, .search-wrapper .search-cat .nav-tabs a {
  transition: 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.animate-all, .panel .panel-body .btn-share, .open-detail-panel, .btn, .search-wrapper .search-cat .nav-tabs li, .search-wrapper .search-cat .nav-tabs a {
  transition: 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.navbar {
  padding: 5px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin: 0;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7); }
  .navbar .navbar-brand {
    padding: 7px 15px;
    height: 60px;
    color: rgba(0, 0, 0, 0.6); }
    .navbar .navbar-brand .logo-holder {
      background: #cd3333;
      height: 46px;
      width: 46px;
      border-radius: 4px;
      margin-right: 10px;
      display: inline-block;
      padding: 4px; }
  .navbar .navbar-nav li a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .04em;
    text-transform: uppercase;
    line-height: 30px; }
    .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:active, .navbar .navbar-nav li a:focus {
      text-decoration: underline;
      color: rgba(0, 0, 0, 0.6);
      background: none; }
  .navbar .navbar-nav li.open a,
  .navbar .navbar-nav li.open a:hover {
    background: none; }
  .navbar .navbar-nav li.active a {
    color: #008080; }
  .navbar .navbar-nav li.btn-wrapper .btn {
    padding: 8px 14px;
    line-height: 1.5;
    margin: 12px 0; }
    .navbar .navbar-nav li.btn-wrapper .btn.btn-default {
      color: rgba(0, 0, 0, 0.6);
      border-color: #DDD; }
      .navbar .navbar-nav li.btn-wrapper .btn.btn-default:hover {
        background-color: #F3F3F3;
        border-color: rgba(98, 98, 98, 0.27);
        color: #1a1a1a;
        text-decoration: none; }
    .navbar .navbar-nav li.btn-wrapper .btn.btn-teal {
      color: #fff;
      background-color: #008080;
      border-color: #008080; }
      .navbar .navbar-nav li.btn-wrapper .btn.btn-teal:hover {
        background-color: #18c1c1;
        border-color: #18c1c1;
        text-decoration: none; }
      .navbar .navbar-nav li.btn-wrapper .btn.btn-teal:active {
        background-color: #076161;
        border-color: #076161; }
  .navbar .navbar-nav li.btn-wrapper + .btn-wrapper {
    margin-left: 12px; }

.dropdown-menu {
  border: none;
  padding: 0 0 10px; }
  .dropdown-menu.downloads {
    min-width: 400px; }
    .dropdown-menu.downloads .title {
      padding: 20px;
      font-size: 1.8rem;
      font-weight: 200; }
    .dropdown-menu.downloads a {
      background: url("/img/app-icons@2x.png") no-repeat left top/347px !important;
      height: 50px;
      margin: 10px 20px;
      width: 174px; }
      .dropdown-menu.downloads a.iphone {
        background-position: top right; }

.animate-all, .panel .panel-body .btn-share, .open-detail-panel, .btn, .search-wrapper .search-cat .nav-tabs li, .search-wrapper .search-cat .nav-tabs a {
  transition: 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.band {
  margin: 0 0 30px 0;
  text-align: center; }
  .band .filter-panel .panel {
    border-radius: 0 3px 3px 0;
    margin: 0; }

.cat-bg {
  background: url("http://res.cloudinary.com/triptroop-prod/image/upload/w_1500,c_fill,g_auto/w_auto,q_auto,f_auto/assets/city/pune.jpg") center/cover;
  border-radius: 3px;
  padding: 155px;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15); }
  .cat-bg:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.55);
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    top: 0; }
  .cat-bg h1 {
    font-size: 4rem;
    position: relative;
    cursor: pointer; }
    .cat-bg h1 small {
      color: #fff; }
  .cat-bg .tag {
    border-radius: 20px;
    font-size: 1.6rem;
    background: #cd3333;
    color: #fff;
    padding: 6px 27px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    min-width: 120px; }

.cat-wrapper {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 100px;
  display: none; }
  .cat-wrapper ul {
    margin: 0; }
  .cat-wrapper .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    opacity: 1;
    color: #008080;
    border-radius: 20px; }

.panel {
  border-color: rgba(230, 230, 230, 0.7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .panel.f {
    min-height: 230px;
    color: #000; }
    .panel.f .panel-heading {
      border-bottom: 1px solid rgba(230, 230, 230, 0.7); }
      .panel.f .panel-heading .panel-title {
        color: #000;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .05em; }
      .panel.f .panel-heading .fa {
        color: #fff;
        height: 32px;
        width: 32px;
        background: #2fcf93;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        margin-right: 8px; }
    .panel.f .panel-body {
      padding: 15px; }
      .panel.f .panel-body ul {
        padding: 0 0 0 20px; }
  .panel .panel-body {
    padding: 20px; }
    .panel .panel-body h3 {
      margin: 0 0 20px;
      color: #008080;
      line-height: 1.5; }
      .panel .panel-body h3 .type-icon {
        float: left;
        height: 32px;
        width: 32px;
        margin-right: 10px;
        padding: 7px;
        background: #919191;
        text-align: center;
        line-height: 32px;
        border-radius: 50%; }
    .panel .panel-body .fa-star,
    .panel .panel-body .fa-star-half {
      color: #f8d053; }
    .panel .panel-body .btn-share {
      padding: 10px;
      visibility: hidden;
      display: none; }
      .panel .panel-body .btn-share .glyphicon {
        top: 0; }
  .panel:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
    .panel:hover .btn-share {
      visibility: visible; }

.open-detail-panel {
  cursor: pointer; }
  .open-detail-panel:hover {
    border-color: #008080;
    border-color: #0b8585;
    box-shadow: 0 0px 3px rgba(11, 133, 133, 0.41);
    background: #fcffff; }

.detail-panel {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  background: #fff;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  min-width: 60%;
  width: 850px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0;
  max-width: 100%;
  z-index: 505;
  z-index: 4;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.5, 0.01, 0.53, 0.88);
  -webkit-transform: translate3d(calc(100% + 50px), 0, 0);
  -moz-transform: translate3d(calc(100% + 50px), 0, 0);
  -ms-transform: translate3d(calc(100% + 50px), 0, 0);
  -o-transform: translate3d(calc(100% + 50px), 0, 0); }
  .detail-panel.pulled {
    transform: translate3d(0%, 0, 0); }
  .detail-panel .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #008080;
    opacity: 1;
    color: #fff;
    border-radius: 20px; }
  .detail-panel .panel-body {
    max-width: 70%;
    margin: auto;
    padding: 50px 30px; }
  .detail-panel .title {
    margin-bottom: 10px;
    color: #000; }
  .detail-panel .type {
    margin-bottom: 20px; }
    .detail-panel .type li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      color: #000;
      padding: 5px 10px;
      background: #f8d053;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 12px; }
  .detail-panel #shareIcons {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0; }
    .detail-panel #shareIcons .jssocials-shares {
      margin: 0; }
      .detail-panel #shareIcons .jssocials-shares .jssocials-share {
        margin: 0;
        display: table-cell;
        width: 1%;
        text-align: center; }
        .detail-panel #shareIcons .jssocials-shares .jssocials-share .jssocials-share-link {
          padding: 15px;
          display: block;
          font-size: 16px;
          color: #666; }
          .detail-panel #shareIcons .jssocials-shares .jssocials-share .jssocials-share-link:hover {
            background: #f3f3f3;
            color: #000; }

.details-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: none; }

body {
  background: #FAFAFA;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif; }

.loader {
  display: none;
  position: fixed;
  z-index: 999999999;
  padding: 10px 25px;
  background: #f8d053;
  border-radius: 30px;
  top: 14px;
  border: 1px solid #dcb63f;
  font-weight: 500;
  box-shadow: 0 0 5px #dcb63f;
  right: 15px; }

.capitalize {
  text-transform: capitalize; }

.relative {
  position: relative; }

.btn {
  line-height: 21px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 3px; }
  .btn:focus {
    outline: none; }
  .btn.btn-default {
    color: #5e5e5e;
    background-color: #fff;
    border-color: #f0f0f0; }
    .btn.btn-default:hover {
      background-color: #fafafa;
      border-color: rgba(98, 98, 98, 0.27);
      color: #1a1a1a; }
  .btn.btn-brand {
    color: #fff;
    background-color: #cd3333;
    border-color: #cd3333; }
    .btn.btn-brand:hover {
      background-color: #ff5050;
      border-color: #ff5050;
      color: #fff; }
  .btn.btn-primary {
    color: #fff;
    background-color: #6d5eac;
    border-color: #6d5eac; }
    .btn.btn-primary:hover {
      background-color: #8a7dbe;
      border-color: #8a7dbe; }
    .btn.btn-primary:active {
      background-color: #584b8d;
      border-color: #584b8d; }
  .btn.btn-danger {
    color: #fff;
    background-color: #f55753;
    border-color: #f55753; }
    .btn.btn-danger:hover {
      background-color: #f77975;
      border-color: #f77975; }
    .btn.btn-danger:active {
      background-color: #c64643;
      border-color: #c64643; }
  .btn.btn-success {
    color: #fff;
    background-color: #10cfbd;
    border-color: #10cfbd; }
    .btn.btn-success:hover {
      background-color: #40d9ca;
      border-color: #40d9ca; }
    .btn.btn-success:active {
      background-color: #0da899;
      border-color: #0da899; }
  .btn.btn-complete {
    color: #fff;
    background-color: #48b0f7;
    border-color: #48b0f7; }
    .btn.btn-complete:hover {
      background-color: #6dc0f9;
      border-color: #6dc0f9; }
    .btn.btn-complete:active {
      background-color: #3a8fc8;
      border-color: #3a8fc8; }
  .btn.btn-warning {
    color: #fff;
    background-color: #f8d053;
    border-color: #f8d053; }
    .btn.btn-warning:hover {
      background-color: #f9d975;
      border-color: #f9d975; }
    .btn.btn-warning:active {
      background-color: #c9a843;
      border-color: #c9a843; }
  .btn.btn-teal {
    color: #fff;
    background-color: #008080;
    border-color: #008080; }
    .btn.btn-teal:hover {
      background-color: #18c1c1;
      border-color: #18c1c1; }
    .btn.btn-teal:active {
      background-color: #076161;
      border-color: #076161; }
  .btn.btn-cons {
    margin-right: 5px;
    min-width: 120px; }

.search-wrapper {
  background: url("http://res.cloudinary.com/triptroop-prod/image/upload/c_fill,g_auto/w_auto,q_auto,f_auto/assets/pune-map.png") no-repeat left top/cover !important;
  min-height: calc(100vh - 70px);
  /* Make it a flex container */
  display: -ms-flexbox;
  display: flex;
  /* Align the bootstrap's container vertically */
  -ms-flex-align: center;
  align-items: center;
  /* In legacy web browsers such as Firefox 9
  we need to specify the width of the flex container */
  width: 100%;
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff; }
  .search-wrapper h1 {
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 4rem; }
  .search-wrapper:before {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0; }
  .search-wrapper .searchbar {
    margin-top: 20px;
    margin-bottom: 30px; }
    .search-wrapper .searchbar .form-control {
      color: #000;
      height: 55px;
      padding: 15px 20px;
      border: none;
      box-shadow: none;
      font-size: 1.6rem;
      width: calc(100% - 178px);
      float: left;
      margin-right: 20px; }
    .search-wrapper .searchbar .btn-search {
      background: #48b0f7;
      border-color: #48b0f7;
      font-size: 16px;
      line-height: 41px;
      padding: 6px 30px;
      letter-spacing: .05rem;
      text-transform: uppercase; }
      .search-wrapper .searchbar .btn-search .glyphicon {
        margin-right: 5px;
        font-size: 22px;
        vertical-align: sub; }
      .search-wrapper .searchbar .btn-search:hover {
        color: #fff;
        background: #6dc0f9;
        border-color: #6dc0f9; }
      .search-wrapper .searchbar .btn-search:active {
        color: #fff;
        background: #3a8fc8;
        border-color: #3a8fc8; }
  .search-wrapper .search-cat {
    width: 100%;
    margin: auto; }
    .search-wrapper .search-cat .nav-tabs li {
      position: relative;
      float: left;
      width: 25%; }
      .search-wrapper .search-cat .nav-tabs li div {
        margin-top: 60%;
        width: 100; }
    .search-wrapper .search-cat .nav-tabs a {
      border: none;
      width: calc(100% - 1px);
      margin-bottom: 2px;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      text-align: center;
      padding: 19px;
      font-size: 90%; }
      .search-wrapper .search-cat .nav-tabs a img {
        display: block;
        margin: 0 auto 8px; }
      .search-wrapper .search-cat .nav-tabs a:hover {
        border: none;
        color: #fff !important;
        background: rgba(255, 255, 255, 0.15); }

@media (max-width: 767px) {
  .navbar {
    background: #fff;
    padding: 0; }
    .navbar .navbar-brand {
      padding: 5px 15px;
      height: 50px; }
      .navbar .navbar-brand .logo-holder {
        height: 40px;
        width: 40px;
        padding: 0; }
        .navbar .navbar-brand .logo-holder img {
          height: 30px;
          margin: 5px; }
    .navbar .navbar-nav .btn-wrapper {
      margin: 5px 10px !important; }
      .navbar .navbar-nav .btn-wrapper .btn {
        margin: 0; }
    .navbar .navbar-toggle {
      border-color: transparent; }
      .navbar .navbar-toggle .icon-bar {
        color: rgba(0, 0, 0, 0.4); }
    .navbar .mobmenu {
      line-height: 50px;
      font-size: 1.3rem;
      font-weight: 500;
      margin: 0 10px 0 0; }
      .navbar .mobmenu li a {
        color: rgba(0, 0, 0, 0.4); }
  .search-wrapper {
    background: red; }
    .search-wrapper .searchbar .form-control {
      width: 100%;
      margin-bottom: 10px; }
    .search-wrapper .searchbar .btn-search {
      width: 100%; }
    .search-wrapper .search-cat {
      margin: 0 auto 25px;
      width: 100%; }
      .search-wrapper .search-cat .nav-tabs li {
        width: 25%;
        float: left; }
        .search-wrapper .search-cat .nav-tabs li a {
          margin: 0 0 2px;
          height: auto;
          position: static;
          padding: 10px;
          height: 100px; }
  .cat-wrapper {
    padding: 20% 2%; }
  .detail-panel .panel-body {
    max-width: none;
    width: 100%;
    padding: 50px 20px; }
  .detail-panel #shareIcons .jssocials-shares .jssocials-share .jssocials-share-link {
    padding: 10px;
    font-size: 14px; }
  .item {
    width: 100% !important; } }

@media (min-width: 768px) {
  .item {
    width: 50% !important; } }

@media (min-width: 992px) {
  .item {
    width: 33.33% !important; } }

/*# sourceMappingURL=app.css.map */
