// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "var";
@import "header";
@import "category";
body {
	background: #FAFAFA;
	font-size: 14px;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}
.loader {
	display: none;
    position: fixed;
    z-index: 999999999;
    padding: 10px 25px;
    background: #f8d053;
    border-radius: 30px;
    top: 14px;
    border: 1px solid #dcb63f;
    font-weight: 500;
    box-shadow: 0 0 5px #dcb63f;
    right: 15px;
}
.capitalize {
	text-transform: capitalize;
}
.relative {
	position: relative;
}
.btn {
	line-height: 21px;
	padding-left: 17px;
	padding-right: 17px;
	border-radius: 3px;
	@extend .animate-all;
	&:focus {
		outline: none;
	}
	&.btn-default {
		color: #5e5e5e;
		background-color: $white;
		border-color: #f0f0f0;
		&:hover {
			background-color: #fafafa;
			border-color: rgba(98,98,98,0.27);
			color: #1a1a1a;
		}
	}
	&.btn-brand {
		color: $white;
		background-color: $brand;
		border-color: $brand;
		&:hover {
			background-color: #ff5050;
			border-color: #ff5050;
			color: $white;
		}
	}
	&.btn-primary {
		color: $white;
		background-color: $purple;
		border-color: $purple;
		&:hover {
			background-color: $purple-light;
			border-color: $purple-light;
		}
		&:active {
			background-color: $purple-dark;
			border-color: $purple-dark;
		}
	}
	&.btn-danger {
		color: $white;
		background-color: $red;
		border-color: $red;
		&:hover {
			background-color: $red-light;
			border-color: $red-light;
		}
		&:active {
			background-color: $red-dark;
			border-color: $red-dark;
		}
	}
	&.btn-success {
		color: $white;
		background-color: $cyan;
		border-color: $cyan;
		&:hover {
			background-color: $cyan-light;
			border-color: $cyan-light;
		}
		&:active {
			background-color: $cyan-dark;
			border-color: $cyan-dark;
		}
	}
	&.btn-complete {
		color: $white;
		background-color: $blue;
		border-color: $blue;
		&:hover {
			background-color: $blue-light;
			border-color: $blue-light;
		}
		&:active {
			background-color: $blue-dark;
			border-color: $blue-dark;
		}
	}
	&.btn-warning {
		color: $white;
		background-color: $yellow;
		border-color: $yellow;
		&:hover {
			background-color: $yellow-light;
			border-color: $yellow-light;
		}
		&:active {
			background-color: $yellow-dark;
			border-color: $yellow-dark;
		}
	}
	&.btn-teal {
		color: $white;
		background-color: $teal;
		border-color: $teal;
		&:hover {
			background-color: $teal-light;
			border-color: $teal-light;
		}
		&:active {
			background-color: $teal-dark;
			border-color: $teal-dark;
		}
	}
	&.btn-cons {
		margin-right: 5px;
		min-width: 120px;
	}
}

.search-wrapper {
	background: url("http://res.cloudinary.com/triptroop-prod/image/upload/c_fill,g_auto/w_auto,q_auto,f_auto/assets/pune-map.png") no-repeat left top / cover !important;
	min-height: calc(100vh - 70px);

	/* Make it a flex container */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 

	/* Align the bootstrap's container vertically */
	-webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;

  /* In legacy web browsers such as Firefox 9
  we need to specify the width of the flex container */
  width: 100%;
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
     -webkit-box-pack : center;
     -moz-box-pack : center;
     -ms-flex-pack : center;
     -webkit-justify-content : center;
     justify-content : center;
     color: $white;
     h1 {
     	font-weight: 900;
     	margin-bottom: 20px;
     	font-size: 4rem
     }
     &:before {
     	background: rgba(0, 0, 0, 0.1);
     	position: absolute;
     	top: 0;
     	left: 0;
     }
     .searchbar {
     	margin-top: 20px;
     	margin-bottom: 30px;
     	.form-control {
     		color: $black;
     		height: 55px;
     		padding: 15px 20px;
     		border: none;
     		box-shadow: none;
     		font-size: 1.6rem;
     		width: calc(100% - 178px);
     		float: left;
     		margin-right: 20px;
     	}
     	.btn-search {
     		background: $blue;
     		border-color: $blue;
     		font-size: 16px;
     		line-height: 41px;
     		padding: 6px 30px;
     		letter-spacing: .05rem;
     		text-transform: uppercase;
     		.glyphicon {
     			margin-right: 5px;
     			font-size: 22px;
     			vertical-align: sub;
     		}
     		&:hover {
     			color: $white;
     			background: $blue-light;
     			border-color: $blue-light;
     		}
     		&:active {
     			color: $white;
     			background: $blue-dark;
     			border-color: $blue-dark;
     		}
     	}
     }
     .search-cat {
     	width: 100%;
     	margin: auto;
     	.nav-tabs {
     		li {
     			@extend .animate-all;
     			position: relative;
     			float: left;
     			width: 25%;
     			div {
     				margin-top: 60%;
     				width: 100;
     			}
     		}
     		a {
     			@extend .animate-all;
     			border: none;
     			width: calc(100% - 1px);
     			margin-bottom: 2px;
     			border-radius: 3px;
     			background: rgba(255, 255, 255, 0.1);
     			color: $white;
     			text-align: center;
     			padding: 19px;
     			font-size: 90%;
     			img {
     				display: block;
     				margin: 0 auto 8px;
     			}
     			&:hover {
     				border: none;
     				color: $white !important;
     				background: rgba(255, 255, 255, 0.15);
     			}
     		}
     	}
     }
 }






@media(max-width:767px){
	.navbar {
		background: $white;
		padding: 0;
		.navbar-brand {
			padding: 5px 15px;
			height: 50px;
			.logo-holder {
				height: 40px;
				width: 40px;
				padding: 0;
				img {
					height: 30px;
					margin: 5px;
				}
			}
		}
		.navbar-nav {
			.btn-wrapper {
				margin: 5px 10px !important;
				.btn {
					margin: 0;
				}
			}
		}
		.navbar-toggle {
			border-color: transparent;
			.icon-bar {
				color: transparentize($black, .6);
			}
		}
		.mobmenu {
			line-height: 50px;
			font-size: 1.3rem;
			font-weight: 500;
			margin: 0 10px 0 0;
			li a {
				color: transparentize($black, .6);
			}
		}
	}
	.search-wrapper {
		background: red;
		.searchbar {
			.form-control {
				width: 100%;
    			margin-bottom: 10px;
			}
			.btn-search {
				width: 100%;
			}
		}
		.search-cat {
			margin: 0 auto 25px;
			width: 100%;
			.nav-tabs {
				li {
					width: 25%;
					float: left;
					a {
						margin: 0 0 2px;
						height: auto;
						position: static;
						padding: 10px;
						height: 100px;
					}
				}
			}
		}
	}
	.cat-wrapper {
		padding: 20% 2%;
	}
	.detail-panel {
		.panel-body {
			max-width: none;
			width: 100%;
			padding: 50px 20px;
		}
		#shareIcons {
		.jssocials-shares {
			.jssocials-share {
				.jssocials-share-link {
					padding: 10px;
					font-size: 14px;
				}
			}
		}
	}
	}
	.item {
		width: 100% !important;
	}
}
@media(min-width:768px){
	.item {
		width: 50% !important;
	}
}
@media(min-width:992px){
	.item {
		width: 33.33% !important;
	}
}
@media(min-width:1200px){}