@import "var";
.band {
	margin: 0 0 30px 0;
	text-align: center;
	.filter-panel {
		.panel {
			border-radius: 0 3px 3px 0;
			margin: 0;
		}
	}
}
.cat-bg {
	background: url('http://res.cloudinary.com/triptroop-prod/image/upload/w_1500,c_fill,g_auto/w_auto,q_auto,f_auto/assets/city/pune.jpg') center / cover;
	border-radius: 3px;
	padding: 155px;
	text-transform: uppercase;
	color: $white;
	overflow: hidden;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
	&:before {
		position: absolute;
		content: "";
		background: transparentize($black,.45);
		height: 100%;
		width: 100%;
		display: block;
		left: 0;
		top: 0;
	}
	h1 {
		font-size: 4rem;
		position: relative;
		cursor: pointer;
		small {
			color: $white;
		}
	}
	.tag {
		border-radius: 20px;
		font-size: 1.6rem;
		background: $brand;
		color: $white;
		padding: 6px 27px;
		margin-bottom: 5px;
		box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
		display: inline-block;
		min-width: 120px;
	}
}
.cat-wrapper {
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 100px;
	display: none;
	ul {
		margin: 0;
	}
	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
		background: $white;
		opacity: 1;
		color: $teal;
		border-radius: 20px;
	}
}
.panel {
	border-color:  rgba(230,230,230,0.7);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	&.f {
		min-height: 230px;
		color: $black;
		.panel-heading {
			border-bottom: 1px solid rgba(230,230,230,0.7);
			.panel-title {
				color: $black;
				text-transform: uppercase;
			    font-size: 13px;
			    letter-spacing: .05em;
			}
			.fa {
				color: $white;
				height: 32px;
				width: 32px;
				background: $green;
				line-height: 32px;
			    text-align: center;
			    border-radius: 50%;
			    margin-right: 8px;
			}
	    }
	    .panel-body {
	    	padding: 15px;
	    	ul {
	    		padding: 0 0 0 20px;
	    	}
	    }
	}
	.panel-body {
		padding: 20px;
		h3 {
			margin: 0 0 20px;
			color: $teal;
			line-height: 1.5;
			.type-icon {
				float: left;
			    height: 32px;
			    width: 32px;
			    margin-right: 10px;
			    padding: 7px;
			    background: #919191;
			    text-align: center;
			    line-height: 32px;
			    border-radius: 50%;
			}
		}
		.fa-star,
		.fa-star-half {
			color: $yellow;
		}
		.btn-share {
			padding: 10px;
			visibility: hidden;
			display: none;
			@extend .animate-all;
			.glyphicon {
				top: 0;
			}
		}
	}
	&:hover {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		.btn-share {
			visibility: visible;
		}
	}
}
.open-detail-panel {
	cursor: pointer;
	@extend .animate-all;
	&:hover {
		border-color: $teal;
		border-color: #0b8585;
	    box-shadow: 0 0px 3px rgba(11, 133, 133, 0.41);
	    background: rgb(252, 255, 255);
	}
}
.detail-panel {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
	border-radius: 0;
	background: $white;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 2;
	min-width: 60%; 
	width: 850px; 
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0;
	max-width: 100%;
	z-index: 505;
	z-index: 4;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.5, 0.01, 0.53, 0.88);
	-moz-transition-timing-function: cubic-bezier(0.5, 0.01, 0.53, 0.88);
	transition-timing-function: cubic-bezier(0.5, 0.01, 0.53, 0.88);
	-webkit-transform: translate3d(calc(100% + 50px), 0, 0);
	-moz-transform: translate3d(calc(100% + 50px), 0, 0);
	-ms-transform: translate3d(calc(100% + 50px), 0, 0);
	-o-transform: translate3d(calc(100% + 50px), 0, 0);
	&.pulled {
		-webkit-transform: translate3d(0%, 0, 0);
		-moz-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);	
	}
	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
		background: $teal;
		opacity: 1;
		color: $white;
		border-radius: 20px;
	}
	.panel-body {
		max-width: 70%;
		margin: auto;
		padding: 50px 30px;
	}
	.title {
		margin-bottom: 10px;
		color: $black;
	}
	.type {
		margin-bottom: 20px;
		li {
			display: inline-block;
			padding-right: 5px;
			padding-left: 5px;
			color: $black;
			padding: 5px 10px;
			background: #f8d053;
			border-radius: 3px;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	#shareIcons {
		border: 1px solid #ddd;
		border-radius: 3px;
		margin: 0;
		.jssocials-shares {
			margin: 0;
			.jssocials-share {
				margin: 0;
				display: table-cell;
				width: 1%;
				text-align: center;
				.jssocials-share-link {
					padding: 15px;
					display: block;
					font-size: 16px;
					color: #666;
					&:hover {
						background: #f3f3f3;
						color: $black;
					}
				}
			}
		}
	}
}
.details-overlay {
	background: transparentize($black, .4);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: none;
}