$brand:	#cd3333;
$black: #000;
$white: #fff;
$green: #2fcf93;
$teal: #008080;
$teal-light: #18c1c1;
$teal-dark: #076161;
$blue: #48b0f7;
$blue-bright: #07F;
$blue-light: #6dc0f9;
$blue-dark: #3a8fc8;
$purple: #6d5eac;
$purple-light: #8a7dbe;
$purple-dark: #584b8d;
$cyan: #10cfbd;
$cyan-light: #40d9ca;
$cyan-dark: #0da899;
$red: #f55753;
$red-light: #f77975;
$red-dark: #c64643;
$yellow: #f8d053;
$yellow-light: #f9d975;
$yellow-dark: #c9a843;
.animate-all {
	-webkit-transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-ms-transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-o-transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}